@import './components/style.css';

a {
  text-decoration: none !important;
  color: inherit !important;
}

.navbar-expand .navbar-nav .dropdown-menu  {
  right: 20px;
  left: unset !important;
}

.product-button{
  margin-top: 10px !important;
}
